doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index page
        link(rel="shortcut icon", href="./images/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="../../less/styles.less")
    
    body(style="display: flex; flex-direction: column; min-height: 100vh; margin: 0; background-color: #20242F; color: #fff;")
        -
            const pages = [
                { href: 'checkbox', title: 'Checkbox' },
                { href: 'drag-and-drop', title: 'Drag and Drop' },
                { href: 'dropdown', title: 'Dropdown' },
                { href: 'file-upload', title: 'File Upload' },
                { href: 'modal', title: 'Modal' },
                { href: 'password-checker', title: 'Password checker' },
                { href: 'profile-card', title: 'Profile Card' },
                { href: 'sidebar', title: 'Sidebar' },
                { href: 'sign-up-form', title: 'Sign Up Form' },
                { href: 'tabs', title: 'Tabs' },
                { href: 'timeline', title: 'Timeline' }
            ]

        .index-page(style="padding: 40px 0; font-family: 'Montserrat', sans-serif; font-size: 16px; line-height: 1.2;")
            .index-page__container(style="max-width: 1000px; margin: 0 auto; padding: 0 20px;")
                h1.index-page__heading(style="display: flex; justify-content: center; gap: 20px; margin-bottom: 32px; margin-top: 0; font-size: 30px;") Custom Widgets HTML+CSS+JS
                
                .grid
                    each page in pages
                        a.grid__item(href=`${pagesPath}/${page.href}`)
                            p.grid__item-title= page.title