extends ../layout/default

block title 
  title Modal
    
block pageContent
  .page
    .container
      .modal
        article.modal-container
          .modal-container__header
            h1.modal-container__title
              img(src='../../images/svg/logo.svg' alt='Logo')
              | &#x9;&#x9;&#x9;&#x9;Modal Window Title
            button.icon-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' width='24' height='24')
                path(fill='none' d='M0 0h24v24H0z')
                path(fill='currentColor' d='M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z')
          section.modal-container__body
            h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            p
              | Possimus harum aperiam modi qui doloribus dolore nobis incidunt nostrum deserunt, vitae vel, asperiores, at numquam laboriosam nesciunt iure aut repellendus alias sed quis itaque eum amet tenetur. Excepturi dolore eius iure dolores eaque at, explicabo iste in voluptates itaque id praesentium repellendus quisquam officiis, fugiat necessitatibus labore ex, ipsam culpa cupiditate! Nisi placeat, blanditiis minus iusto iure perferendis ipsa deserunt nesciunt, magnam dolores corrupti rem.
            h3 Veritatis minima fuga velit dolorum minus.
            p
              | Explicabo, libero labore! Expedita non ab nam, quos quo neque asperiores, placeat dignissimos quam enim possimus recusandae, nihil deserunt laudantium dolore error dolorum.
            p
              | Deleniti modi veritatis quos velit consectetur quaerat pariatur architecto corporis repellendus molestias consequuntur rerum rem adipisci sed suscipit repellat eum aspernatur, omnis laborum dolore distinctio ipsa. Beatae pariatur quasi earum minus consectetur, dicta reprehenderit consequuntur praesentium assumenda eos recusandae tempora accusantium quis! Impedit, aperiam. Quod facilis dolores numquam nisi aut maiores itaque modi. Autem ut minima itaque modi ipsam ducimus sed nobis repellendus facere commodi? Nihil obcaecati nam aspernatur, quam pariatur ratione commodi!
            h2 An hoc usque quaque, aliter in vita?
            ol
              li
                | Ullam totam a repellendus asperiores impedit veniam nostrum officiis dolorem vitae illo.
              li Dicta neque perferendis, magni aspernatur laborum voluptatum et repudiandae perspiciatis placeat eum ipsa praesentium possimus nisi dolores suscipit accusamus nesciunt assumenda unde at officia enim exercitationem sint.
              li Nam, animi facilis
              li
                | Deserunt consequatur aliquid doloremque iure veritatis repellendus tenetur, cumque explicabo sint voluptate sequi illo veniam, ad corrupti modi neque voluptas optio ipsa hic laborum.
            p
              | Odio eum aspernatur, tempore incidunt officia a ab cumque dolorem quos praesentium necessitatibus iste beatae natus, minus tempora voluptatibus ad fugiat, eos maxime cum nulla temporibus. Autem in tenetur enim, quia explicabo nulla ut ipsam eum nisi optio asperiores labore ducimus est officiis consequatur rerum veritatis laborum? Numquam ad iste, corporis eum laudantium harum dolor voluptas accusantium cum, cumque vitae nulla tenetur hic dignissimos at beatae earum quam amet minima accusamus. 
            p
              | Obcaecati deleniti saepe culpa expedita placeat doloremque excepturi voluptate, perspiciatis quaerat hic ullam repudiandae distinctio delectus! Enim ullam esse impedit dolores assumenda! Non cum distinctio saepe dolores reiciendis provident atque nisi ea doloribus mollitia officia similique eligendi recusandae, itaque, ipsum asperiores repellat nam soluta reprehenderit sunt laudantium suscipit porro. 
            h2 Laudantium eos placeat quaerat laboriosam neque perferendis harum omnis laborum odit eum. 
            p
              | Magnam corrupti nam eius rem dolor eveniet, reprehenderit quidem incidunt qui alias facilis quasi enim mollitia maiores. Reprehenderit, nobis distinctio porro possimus nulla, exercitationem maiores suscipit adipisci eos assumenda quos dolore provident voluptatibus totam cupiditate at fuga doloribus nisi pariatur numquam ea delectus eligendi? Officia beatae totam cum, consequuntur vel mollitia id suscipit sed alias, ullam nam voluptates a autem quaerat eum, facilis eius? Cupiditate quia impedit suscipit eius voluptates quaerat officia dicta eligendi consectetur rerum? Fuga ab est magni vel esse, enim praesentium expedita dicta? Eius perferendis aliquam odit quam nihil. Nulla, sit voluptas aperiam consectetur ad rerum quas? Odit autem, earum ab rem nisi molestiae facere totam quaerat est sapiente aliquam dignissimos, recusandae numquam esse deleniti facilis illo. Eum nesciunt hic accusamus alias labore totam quidem porro sit? Non iste voluptatum voluptate id omnis. 
          .modal-container__footer
            button.button.modal-button.is-ghost Close
            button.button.modal-button.is-primary Save change