extends ../layout/default

block title 
  title Password Checker 

block pageContent
  .page.page_light
    .container
      .password-checker
        .input-wrapper
          input#password.input-field(type='password' name='password' placeholder='Your Password' title='Minimum 6 characters at least 1 Alphabet, 1 Number and 1 Symbol' pattern='^(?=.*[A-Za-z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{6,}$' required='')
          label.input-label(for='password') Password
          img.input-icon(alt='Eye Icon' title='Eye Icon' src='https://img.icons8.com/?size=100&id=60022&format=png&color=000000')
        .password-strength
          p
            span#result
          .progress
            #password-strength.progress-bar(role='progressbar' aria-valuenow='40' aria-valuemin='0' aria-valuemax='100' style='width: 0%; height: 3px')
          ul.password-strength-items
            li.low-upper-case
              img(src='https://img.icons8.com/?size=100&id=AQB4eCetDiY2&format=png&color=FA5252' alt='Indicator' title='Indicator')
              | &nbsp;Lowercase &amp; Uppercase
            li.one-number
              img(src='https://img.icons8.com/?size=100&id=AQB4eCetDiY2&format=png&color=FA5252' alt='Indicator' title='Indicator')
              | &nbsp;At least one number
            li.one-special-char
              img(src='https://img.icons8.com/?size=100&id=AQB4eCetDiY2&format=png&color=FA5252' title='Indicator')
              | &nbsp;At least one special character
            li.eight-character
              img(src='https://img.icons8.com/?size=100&id=AQB4eCetDiY2&format=png&color=FA5252' alt='Indicator' title='Indicator')
              | &nbsp;Minimum 8 characters